*{
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 2, 17);
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#final-msg {
    color: white;
    font-size: 3em;
    text-align: center;
}

#restart {
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1em;
    height: 5vh;
    width: 15vw;
    font-size: 1.05em;
    cursor: pointer;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#current-player {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

#score {
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 1em 0;
}

#board-container {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.board-tile {
    display: flex;
    background-color: rgba(222, 222, 222, 0.126);
    color: white;
    height: 100%;
    width: 100%;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: 200;
}